
# Deep Learning-Based CSI Feedback for Wi-Fi Systems With Temporal Correlation
## Abstract
- The framework employs encoder and decoder networks to compress and recontruct CSI angle parameters.
- Using a trainable vector quantization (VQ) module
<!--stackedit_data:
eyJoaXN0b3J5IjpbMzc1MDQ3NDk4LDQ5NzgxODgxMCwtMjExMj
E0NjM5MSw5MjM3MzAyOTBdfQ==
-->