
# Deep Learning-Based CSI Feedback for Wi-Fi Systems With Temporal Correlation
## Abstract
- The framework employs encoder and decoder networks to compress and recontruct CSI angle parameters.
- Using a trainable vector quantization (VQ) module that enables finite-bit representation through end-to-end training.
- Introduce an angle-difference feedback strategy that exploits the temporal correlation of the angle parameters by feeding back the difference between the current and previous values.
- 
<!--stackedit_data:
eyJoaXN0b3J5IjpbNzI5MDg4Nzc1LC00MDY4MjMwMjgsNDk3OD
E4ODEwLC0yMTEyMTQ2MzkxLDkyMzczMDI5MF19
-->