
# Deep Learning-Based CSI Feedback for Wi-Fi Systems With Temporal Correlation
## Abstract
- The framework employs encoder and decoder networks to compress and recontruct CSI angle parameters.
- Using a trainable vector quantization (VQ) module that enables finite-bit representation through end-to-end training.
- Introduce an angle-difference feedback strategy that exploits the temporal correlation of the angle parameters by feeding back the 
<!--stackedit_data:
eyJoaXN0b3J5IjpbMjAwMDczNDczMSw0OTc4MTg4MTAsLTIxMT
IxNDYzOTEsOTIzNzMwMjkwXX0=
-->